{% extends 'base.html' %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div>
	<header class="main">
		<center>
			<h1> and other more </h1>
			<img src="https://cdn.pixabay.com/photo/2014/09/14/18/04/dandelion-445228_960_720.jpg" width="600" height="300">
			<p> 앞으로 작업한 프로젝트들이 채워질 페이지 </p>
		</center>
	</header>

	<center>
		<hr class="major" />
		<h2>구상</h2>
		<a href="#"><img src="https://cdn.pixabay.com/photo/2016/01/09/18/27/old-1130731_960_720.jpg" width="300" height="200"></a>
		<p> 사진을 많이 가져올 수 있는 프로젝트 해보고 싶다.<br>
       그리고 이 웹페이지도 계속 발전시켜야지. 일단 반응형 웹으로 바꾸는 것부터...</p>
	</center>
</div>

{% endblock %}
