<!DOCTYPE HTML>
<html>

<head>
  <title>Paraiso</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  {% block head %}
  <link rel="stylesheet" , href="{{ url_for('static', filename='css/main.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <div id=header>
    <center>
      <br>
      <a href="/index"><h1>Let us go singing as far as we go:</h1></a>
      <a href="/index"><h3>the road will be less tedious</h3></a>
    </center>
  </div>
  <style type="text/css"> 
  a { color: black; text-decoration:none;} 
  </style> 
  {% endblock %}
</head>

<body>

  <body style="background-image: url({{ url_for('static', filename='images/wisteria.jpg') }}); background-repeat : no-repeat; background-size : cover;">
    <div class="wrapper">
      <div class="left">
        <header id="first">
          <a href="/index"><strong>Homepage</strong></a>
          <ul>
            <li><a href="https://www.instagram.com/hui_paraiso/" target="_blank"><span class="label"><i class="fab fa-instagram"></i></i>    Instagram</span></a></li>
          </ul>
        </header>

        <div id="sidebar">
          <section id="search" class="alt">
            <form method="post" action="#">
              <input type="text" name="query" id="query" placeholder="Search" />
            </form>
          </section>
          <nav id="menu">
            <header class="major">
              <h2>Menu</h2>
            </header>
            <ul>
              <li><a href="/index">Homepage</a></li>
              <li><a href="/favorite">Favorite</a></li>
              <li>
                <span class="opener"><a href="/work">Work</a></span>
                <ul>
                  <li><a href="/news">news</a></li>
                  <li><a href="/shopping">shopping</a></li>
                  <li><a href="/horoscope">Horoscope</a></li>
                  <li><a href="/astro">Astro</a></li>
                  <li><a href="/twitter">Twitter</a></li>
                  <li><a href="/another">and other more</a></li>
                </ul>
              </li>
              <li><a href="/blah">blah</a></li>
            </ul>
          </nav>

          <section>
            <header class="major">
              <h2>Get in touch</h2>
            </header>
            <p> Kim Hui </p>
            <ul class="contact">
              <li><i class="fas fa-envelope-square"></i>
              <a href="#">paraiso.khj@gmail.com</a></li>
              <li><i class="fas fa-mobile-alt"></i>
              010-2215-1502 </li>
              <li> <i class="fas fa-map-marker-alt"></i>
              06952 서울시 동작구 상도로 107 </li>
            </ul>
          </section>

          <footer id="footer">
            <br><br>
            <p class="copyright">&copy; this is my own Webpage. <br> Welcome to the Paraiso! </p>
          </footer>
        </div>
      </div>

      <div class="yours">
        {% block content %}{% endblock %}
      </div>

    </div>


    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

  </body>

</html>
