{% extends 'base.html' %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<style>
	
</style>

<div>

	<header class="main">
		<center>
			<h1> Blah </h1>
			<img src="https://cdn.pixabay.com/photo/2016/09/08/21/09/piano-1655558_960_720.jpg" width="600" height="300">
			<p> short diary </p>
		</center>
	</header>

	<center>
		<hr class="major" />
		<h2>0520 수요일</h2>
		<a href="#"><img src="https://cdn.pixabay.com/photo/2018/04/06/23/22/notebook-3297317_960_720.jpg" width="300" height="200"></a>
		<p> HTML 첫 날. 너무 어려웠음. 거의 시간 낭비만 한 수준. </p><br>

		<hr class="major" />
		<h2>0521 목요일</h2>
		<a href="#"><img src="https://cdn.pixabay.com/photo/2018/05/13/17/08/notebook-3397136_960_720.jpg" width="300" height="200"></a>
		<p> HTML 둘째 날. 여전히 어려웠지만 조금은 나아진 것 같기도 하고 </p><br>

		<hr class="major" />
		<h2>0522 금요일</h2>
		<a href="#"><img src="https://cdn.pixabay.com/photo/2020/04/02/12/28/clef-4994941_960_720.jpg" width="300" height="200"></a>
		<p> HTML 마지막 날. 어려운데 재미는 있다! 아직 엉망이고 내 수준도 낮지만 그래도 재미있어 </p>
	</center>
</div>

{% endblock %}
