{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div>

	<header class="main">
		<center>
			<h1> My Favorite </h1>
			<img src="https://cdn.pixabay.com/photo/2015/02/03/07/40/diamonds-622113_960_720.jpg" width="600" height="300">
			<p> about me.</p>
		</center>
	</header>

	<hr class="major" />
	<h2>movie</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/EX-MZaKqQg8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p> 스튜디오 지브리, 드림웍스, Marvel, DC, 반지의 제왕, 스타 트렉, 해리 포터 <br>
		월플라워, 스파이, and many more... </p><br>

	<hr class="major" />
	<h2>music</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/5y_KJAg8bHI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p> Classic, OST track, Band, ROCK, POP, J-POP <br>
		♥Avicii♥, Daishi Dance, Taylor Swift, My Chemical Romance, and many more... </p><br>

	<hr class="major" />
	<h2>book</h2>
	<img src="https://image.aladin.co.kr/product/87/9/cover500/s922637499_1.jpg" width="400" height="530">
	<p> 오즈의 마법사, 칼 세이건, 은희경, 이사카 코타로 </p><br>

	<hr class="major" />
	<h2>GEMSTONES</h2>
	<img src="https://cdn.pixabay.com/photo/2016/07/01/00/40/gemstones-1490209_960_720.jpg" width="450" height="300">
	<p> 라리마, 탄자나이트, 핑크 파이어 쿼츠, 차보라이트 가넷 <br>
	바이컬러 사파이어, 천연 알렉산드라이트, 베릴류 전반! </p>

</div>

{% endblock %}
